/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.left {
    text-align: left;
}

.div {
    margin: 0 auto;
    max-width: 600px;
    min-width: 400px;
}

.computerize {
    font-family: 'courier new';
}

.eighty {
    width: 80%;
    margin: 0 auto;
}
